<!-- views/partials/search/listing_results.ejs -->

<table>
  <thead>
      <tr>
          <th class="col-sm-1 text-center">Image</th>
          <th class="col-sm-2 text-center">Date Posted</th>
          <th class="col-sm-1 text-center">Title</th>
          <th class="col-sm-5 text-center">Description</th>
          <th class="col-sm-1 text-center">Price</th>
      </tr>
  </thead>

  <tbody>
    <% for(var i=0; i < results.length; i++) { %>
      <tr class="clickable-row" data-href=/listings?id=<%= results[i]._id %> >
        <td>
          <div class="img-result">
            <img src=<%= results[i].picture %> alt="listing-image">
          </div>
        </td>
        <td><%= results[i].date %></td>
        <td><%= results[i].title %></td>
        <td><%= results[i].description %></td>
        <td><%= results[i].price %></td>
      </tr>
    <% } %>
  </tbody>
</table>