<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body id="page-top">
  <% include ../partials/nav %>
    <header> 
    <br>
    <br> 
    <br> 
    <br> 
    <br> 

      <section id="UserInfo">
          <div class="container">
              <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                    <h2><%= User.username %></h2> 
                          
                  </div>
    
                      
            
                  <div class = "col-xs-6 col-md-4">
                      <img id="profilePicture" src="<%= User.picture %>" alt="Profile Picture" class="img-rounded" style="width:180px;height:180px;"> 
                      <% if(Cur === User.username) {%>
                         
                          <form action="/editprofile" >
                              <input type="submit" class="btn btn-primary" value="Edit Profile" />
                          </form>
                                                   
                        <% } %>            
                  </div>
                  <div class = "col-xs-6 col-md-4">
                      <h1>Discription:</h1>
                      <p id="description"><%= User.description %></p>                
                  </div>
                  <div class = "col-xs-6 col-md-4">
                      <h1>Contact Information:</h1>
                      <p>Phone: <%= User.phoneNumber %></p>
                      <p>Email: <%= User.email %></p>               
                  </div>
                  </div>
            </div>
        </div>
    </section>


                      <section id="listings">
        <div class="container">
            <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12"><h2><%= User.username %>'s Listings</h2></div>
  
                    

            <div class = "col-xs-12 col-sm-12 col-md-12">
        <table>
		    <% for(var i=0; i<listings.length; i++) {%>
		      <tr><td class="col-md-6 col-md-offset-3"><img src="<%= listings[i].picture %>" alt="Listing Picture" class="img-rounded" style="width:80px;height:80px;"></td>

          <td class="col-md-6 col-md-offset-3"><p><%= listings[i].title %></td>
          <td class="col-md-6 col-md-offset-3" style="color: Chartreuse;"><p><%= listings[i].price %></td>
          </tr>
         
		    <% } %>
		    </table>           
                </div>
            
                <!-- <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover what all the buzz is about!</h2>
                    <p>Our app is available on any mobile device! Download now to get started!</p>

                  
                  
                  <!-- <div class="col-md-8 col-md-offset-2">
                      <h2 class="section-heading">Discover what all the buzz is about!</h2>
                      <p>Our app is available on any mobile device! Download now to get started!</p>
                  </div> -->
              </div>
          </div>
      </section>

    <!--

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Unlimited Features, Unlimited Fun</h2>
                        <p class="text-muted">Check out what you can do with this app theme!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! 
                                    <img src="img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    You can hook the "home button" to some JavaScript events or just remove it
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Device Mockups</h3>
                                    <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Flexible Use</h3>
                                    <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Free to Use</h3>
                                    <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Open Source</h3>
                                    <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start building.</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section> -->

  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>

</body>

</html>
