<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body id="page-top">
  <% include ../partials/nav %>
    <header>  
      <section id="UserInfo">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <h2><%= User.username %></h2>
                  </div>
                  <div class = "col-xs-6 col-md-4">
                      <img id="profilePicture" src="<%= User.picture %>" alt="Profile Picture" class="img-rounded" style="width:180px;height:180px;">             
                  </div>
                  <div class = "col-xs-6 col-md-4">
                      <h1>Discription:</h1>
                      <p id="description"><%= User.description %></p>                
                  </div>
                  <div class = "col-xs-6 col-md-4">
                      <h1>Contact Information:</h1>
                      <p>Phone: <%= User.phoneNumber %></p>
                      <p>Email: <%= User.email %></p>               
                  </div>
                  </div>
            </div>
        </div>
    </section>

    <section id="listings">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <h2><%= User.username %>'s Listings</h2>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-12">
                  <table>
          		    <% for(var i=0; i<listings.length; i++) {%>
          		      <tr>
                      <td class="col-md-6 col-md-offset-3">
                        <img src="<%= listings[i].picture %>" alt="Listing Picture" class="img-rounded" style="width:80px;height:80px;">
                      </td>
                      <td class="col-md-6 col-md-offset-3">
                        <p><%= listings[i].title %>
                      </td>
                      <td class="col-md-6 col-md-offset-3" style="color: Chartreuse;">
                        <p><%= listings[i].price %>
                      </td>
                    </tr> 
          		    <% } %>
          		    </table>           
              </div>
            </div>
        </div>
      </section>

  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>
  <script src="../public/js/navbar.js"></script>

</body>
</html>